<h1 align="center"><b>FEATURED BOOKS</b></h1>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
         <div class="row g-3">
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div style="background-color: rgb(0, 0, 0)" class="card">
                    <img height="500px"src="https://images-na.ssl-images-amazon.com/images/I/81nuh8kaTnL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 style="color: aliceblue" class="card-title">The Anomaly</h5>
                      <h6 style="color:rgb(255, 101, 168)">Herve Le Tellier</h6>
                      <a href="#" class="btn btn-info">BUY NOW</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div style="background-color: rgb(0, 0, 0)"class="card">
                    <img height="500px"src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1534902771l/39088984.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 style="color: aliceblue"class="card-title">Long Road to Mercy</h5>
                      <h6 style="color:rgb(255, 101, 168)">David Baldacci</h6>
                      <a href="#" class="btn btn-info">BUY NOW</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div style="background-color: rgb(0, 0, 0)"class="card">
                    <img height="500px"src="https://images-na.ssl-images-amazon.com/images/I/91z-+GcSkIL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 style="color: aliceblue"class="card-title">Bitterblue</h5>
                      <h6 style="color:rgb(255, 101, 168)">Kristin Cashore</h6>
                      <a href="#" class="btn btn-info">BUY NOW</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div style="background-color: rgb(0, 0, 0)"class="card">
                    <img height="500px"src="https://m.media-amazon.com/images/I/51TU7ssthEL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 style="color: aliceblue"class="card-title">Invasion</h5>
                      <h6 style="color:rgb(255, 101, 168)">Robin Cook</h6>
                      <a href="#" class="btn btn-info">BUY NOW</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div style="background-color: rgb(0, 0, 0)"class="card">
                    <img height="500px"src="https://images-na.ssl-images-amazon.com/images/I/914CT7iyyvL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6 style="color: aliceblue"class="card-title">Harry Potter and the Deathly Hallows</h6>
                      <h6 style="color:rgb(255, 101, 168)">J. K. Rowling</h6>
                      <a href="#" class="btn btn-info">BUY NOW</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div style="background-color: rgb(0, 0, 0)"class="card">
                    <img height="500px"src="https://images-na.ssl-images-amazon.com/images/I/81D0FOv5riL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 style="color: aliceblue" class="card-title">Conspiracy of Bones</h5>
                      <h6 style="color:rgb(255, 101, 168)">Kathy Reichs</h6>
                      <a href="#" class="btn btn-info">BUY NOW</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div style="background-color: rgb(0, 0, 0)"class="card">
                    <img height="500px"src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1458595902l/25859216.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 style="color: aliceblue"class="card-title">Flawed</h5>
                      <h6 style="color:rgb(255, 101, 168)">Cecelia Ahern</h6>
                      <a href="#" class="btn btn-info">BUY NOW</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div style="background-color: rgb(0, 0, 0)"class="card">
                    <img height="500px"src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 style="color: aliceblue"class="card-title">The Hunger Games</h5>
                      <h6 style="color:rgb(255, 101, 168)">Suzanne Collins</h6>
                      <a href="#" class="btn btn-info">BUY NOW</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div style="background-color: rgb(0, 0, 0)"class="card">
                    <img height="500px"src="https://images-na.ssl-images-amazon.com/images/I/61Uf5q3H0hL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 style="color: aliceblue"class="card-title">Digital Fortress</h5>
                      <h6 style="color:rgb(255, 101, 168)">Dan Brown</h6>
                      <a href="#" class="btn btn-info">BUY NOW</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div style="background-color: rgb(0, 0, 0)"class="card">
                    <img height="500px"src="https://images-na.ssl-images-amazon.com/images/I/61SpcaD4poL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 style="color: aliceblue"class="card-title">The Handmaid's Tale</h5>
                      <h6 style="color:rgb(255, 101, 168)">Margaret Atwood</h6>
                      <a href="#" class="btn btn-info">BUY NOW</a>
                    </div>
                  </div>
            </div>
         </div>
        </div>
    </div>
</div>
