<h1 align="center"><b>ADD A BOOK</b></h1>
<br> <br> 
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
           <div class="row g-3">
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
             <label for="" class="form-label"><h4>Book Title</h4></label>
             <input type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
             <label for="" class="form-label"><h4>Author</h4></label>
             <input type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h4>Publishing Year</h4></label>
            <input type="date" name="" id="" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
             <label for="" class="form-label"><h4>Prize</h4></label>
             <input type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <Button class="btn btn-dark">SUBMIT</Button>
            </div>
           </div>

        </div>
    </div>
</div>
